td, th {
  border: 2px solid;
  background-color: #77efff;
  padding: 10px;
  }
  
body {
	background-image: url(../images/background.png);
    font-family: cursive;
    margin: 0;
    padding: 0;
    color: black;
  }
  
.fact {
  text-align: center;
  font-size:20px; 
  border:2px solid;
  color: #ff7777;
  } 
  
img{
  width: 250px;
  height: 250px;
  }
  
 
h1{
  font-size:40px;
  color:#FFFFFF;
  }

.planetpics{
  border: 1px solid;
  }

#planets{
  margin:auto;
  }

  
  