body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
  }
  
.point {
  text-align: center;
  font-size:25px; 
  border:3px solid;
  color: #FFFFFF;
  } 

  
  