td, th {
  border: 2px solid;
  background-color: #77efff;
  padding: 10px;
  }
  
h1 {
	color: red;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	text-align: center;
}

body {
	background-image: url(../images/background.png);
    font-family: cursive;
    margin: 0;
    padding: 0;
    color: black;
  }
  
.point {
  text-align: center;
  font-size:20px;
  font-weight: bold;
  background-color: black;  
  border:2px solid;
  color: #ff7777;
  } 
  
  
img:{
  width: 250px;
  height: 250px;
  }
 
 
.planetpics{
  border: 1px solid;
  }
 
#planets{
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  background-color: red;
  }  
  
 strong{
 font-weight: bold;
 font-size: 6px;
  }
  
 mark {
 vertical-align: super;
 background: transparent;
 font-size: 6px;
  }



  
  